/**
  Lark Sass
  Version: 5.0.3
  Author: Dima Boro
  Website: theboro.ru

  Description:
  This library contains general styles and settings
  that can be used when developing web interfaces using this library.
*/

@import 'core/functions';
@import 'core/mixins';
@import 'core/mixins-breakpoints';
@import 'core/variables';
